# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.log
*.Trash-0/
# XML files
*.xml

# Python cache files
__pycache__/
*.py[cod]
# egg-info
*.egg-info/
# pytest cache
.pytest_cache/

# tox directory
.tox/

# mypy cache
.mypy_cache/

# Coverage reports
.coverage

# Catboost info
catboost_info/

# Mac files
*.DS_Store
.codegpt

# CSV files
*.csv
# Excel files
*.xls
*.xlsx

# Kaggle credentials
.kaggle/

# .env files
.env

# ruff cache
.ruff_cache/